.form {
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 320px;
}

.input {
    width: 320px;
    background-color: #242424;
    border: none;
    border-bottom: 1px solid #ffffff9d;
    font-size: 18px;
    padding: 4px;
}

.input::placeholder {
    color: #ffffff9d;
    font-size: 18px;
}

.input:focus,
.input:hover {
    outline: none;
    border-bottom: 1px solid #fff;
}

.input:focus::placeholder,
.input:hover::placeholder {
    color: #fff
}

.errorMsg {
    text-align: left;
    color: rgb(254, 81, 81);
}